.text-input {
  outline: none;
  border: 1px #edeff0 solid;
  border-radius: 1px;
  background-color: #edeff0;
  font-size: 14px;
  padding: 12.5px 1rem;
  overflow: hidden;

  &:-moz-placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }

  &::-moz-placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }

  &:-ms-input-placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }

  &::placeholder {
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
  }
}